@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-montserrat
  }
}

@layer components {
  .myContainer {
    @apply max-w-[1170px] mx-auto
  }
  .btn {
    @apply inline-block rounded-full py-[13px] px-[25px] bg-primary text-light outline-1 border-primary border outline-light hover:bg-customGray transition-all hover:text-dark hover:border-dark hover:border
  }
  .nav ul li {
    @apply hover:bg-customGray rounded-md hover:shadow-inner
  }
}

.serviceBg {
  background-image: url('/webServicesBg.jpg');
  object-fit: cover;
}