@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-montserrat;
  }
  input[type="text"]:focus {
    @apply outline-none;
  }
  input[type="text"] {
    @apply p-1 text-[#5b5b5b] text-sm border-customGray border w-full h-[36px] mb-1;
  }
  textarea:focus {
    @apply outline-none p-1 text-sm;
  }
  textarea {
    @apply p-1 text-[#5b5b5b]  text-sm border-customGray border w-full min-h-[150px] mb-1 scrollbar resize-none;
  }
}

@layer components {
  .myContainer {
    @apply max-w-[1170px] mx-auto;
  }
  .btn {
    @apply inline-block rounded-full py-[13px] px-[25px] bg-primary text-light outline-1 border-primary border outline-light hover:bg-secondary transition-all  hover:border-dark hover:border;
  }

  .btn:disabled {
    @apply bg-customGray border-customGray hover:text-light;
  }

  .btn-light {
    @apply inline-block rounded-full py-[13px] px-[25px] bg-light text-dark outline-1 border-primary border outline-light hover:bg-customGray transition-all hover:text-dark hover:border-dark hover:border;
  }

  .nav ul li {
    @apply hover:bg-customGray hover:text-dark rounded-md hover:shadow-inner cursor-pointer;
  }
  .nav ul li a {
    @apply w-full block pl-[20px];
  }
  .btnImgUpload button {
    @apply text-2xl text-light bg-dark bg-opacity-50 transition-all opacity-0 group-hover:opacity-100 w-full grid place-items-center h-full absolute top-0 left-0;
  }
  span.error-show {
    @apply text-[red] bg-[#f7aa79] p-1 italic bg-opacity-5 text-sm;
  }
  .toggle_menu span {
    @apply w-10 h-2 bg-primary block rounded-full;
  }
  .headerNav ul {
    @apply absolute left-0 bg-light block w-full text-center md:flex md:static md:bg-[transparent] h-0 md:h-[50px]  top-[70px] overflow-hidden transition-all;
  }
  .headerNav ul.open {
    @apply h-[250px] md:h-[50px] transition-all;
  }
  .headerNav ul li {
    @apply py-4 border-t md:border-none  border-y-customGray;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

@media screen and (max-height: 720px) {
  .modal {
    @apply overflow-y-scroll;
  }
  .btnUpdate {
    position: static;
    margin-top: 50px;
  }
}

.serviceBg {
  background-image: url("/webServicesBg.jpg");
  object-fit: cover;
}
